.create-shop-container {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
  }
    
    .create-shop-form {
      width: 100%;
      max-width: 600px;
      padding: 50px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }
    
    .create-shop-form h2 {
      margin-bottom: 20px;
    }
    
    .create-shop-form form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .create-shop-form input {
      padding: 18px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .create-shop-form button {
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
    }
    
    .create-shop-form button:hover {
      background-color: #0056b3;
    }
    
    .create-shop-form p {
      margin-top: 10px;
      text-align: center;
    }
    
    .create-shop-form a {
      color: #007bff;
      text-decoration: none;
    }
    @media (max-width: 1280px) {
      .create-shop-form {
        padding: 15px;
      }
    
    }
    @media (max-width: 768px) {
      .create-shop-form {
        max-width: 100%;
        padding: 15px;
      }
    
    }
    @media (max-width: 600px) {
      .create-shop-form {
        max-width: 100%;
        padding: 15px;
      }
      
     
  
    }
    