.edit-shop-wrrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 150px auto;
    gap: 10px;
}
.edit-shop-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    background-color: #fff;
}
.edit-shop-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px 10px 30px 10px;
    gap: 10px;
    border: 1px solid #3333332d;
    border-radius: 5px;
}
.edit-shop-button-wrrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    flex-wrap: wrap;
    gap: 5px;

}
.edit-buttons{
    display: flex;
    gap: 3px;
}

.save-button{
    font-size: 16px;
    text-transform: capitalize;
    padding: 8px;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    box-shadow: none;
    border: 0px;
    cursor: pointer;
  }
  .save-button:hover{
    color: #ffffffbb;
  }
  
@media (max-width: 912px) {
    .edit-shop-wrrapper{
        width: 80%;
    }
}
@media (max-width: 768px) {
    .edit-shop-wrrapper{
        width: 100%;
    }
}