.responsive-flex-square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 100px;

  }
  
  .square-card {
    flex: 1;
    min-width: calc(25%);
    max-width: calc(25%);
  }
  @media (max-width: 850px) {
    /* .responsive-flex-square-container {
        flex-wrap: wrap;
      } */
    .square-card {
      min-width: calc(50%);
      max-width: calc(50%);
      /* margin-top: var(--bs-gutter-y) */
      
    }
  
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    /* .responsive-flex-square-container {
        flex-wrap: wrap;
      } */
    .square-card {
      min-width: 100%; 
      max-width: 100%; 
      /* margin-top: var(--bs-gutter-y) */

    }
    
}

  