.error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim shade color */
    z-index: 500;

  }
  
  .error-card {
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    position: relative;
    
  }
  .hide{
    display: none
}
.show{
    display: flex;
}
  